<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>20191029</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Hello</servlet-name>
		<servlet-class>co.micol.comon.TestServlet</servlet-class>
		<!-- servlet mapper의 경로를 단번에 파악가능. 유지보수에 이점 -->
	</servlet>

	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/h.do</url-pattern>
		<!--<url-pattern>*.do</url-pattern> 모든 URL 패턴경로를 수용 -->
	</servlet-mapping>
	<!-- <servlet> 과 <servlet-mapping>은 항상 짝을 이루어야 함 -->
	<!-- 현업에서 사용하는 방법 -->

	<servlet>
		<servlet-name>ArrayTest</servlet-name>
		<servlet-class>co.micol.comon.ArrayTest</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ArrayTest</servlet-name>
		<url-pattern>/Array.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ParamInit</servlet-name>
		<servlet-class>co.micol.comon.ParamTest</servlet-class>

		<init-param>
			<param-name>id</param-name>
			<param-value>Hong</param-value>
		</init-param>
		<init-param>
			<param-name>pw</param-name>
			<param-value>122345</param-value>
		</init-param>

	</servlet>

	<servlet-mapping>
		<servlet-name>ParamInit</servlet-name>
		<url-pattern>/ll</url-pattern>
	</servlet-mapping>

</web-app>